<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Jokes</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <h1>Jokes</h1>


        <table class="table">
            <thead>
                <tr>
                	<th> # </th>
                    <th>Category</th>
                    <th>Content</th>
                    <th> Likes </th>
                    <th> Dislikes </th>
                    <th> Diff </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="joke, rows : ${jokes}">
                    <td th:text="${rows.index + 1}"/>
                    <td th:text="${joke.category.name}"/>
                    <td th:text="${joke.content}"/>
                    <td th:text="${joke.likes}"/>
                    <td th:text="${joke.dislikes}"/>
                    <td th:text="${joke.likes - joke.dislikes}"/>
                    <td>
                     	<a href="/like/1" th:href="@{/like/__${joke.id}__}">Like</a>
                        <a href="/dislike/1" th:href="@{/dislike/__${joke.id}__}">Dislike</a>
                     </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>