<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add new Joke</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
        <h1>New Joke</h1>
        
        <form class = "form-group" action="#" th:action="@{/new}" th:object="${jokeForm}" method="post">
        <table>
                <tr>
                    <td>Content:</td>
                    <td><input type="text" th:field="*{content}" /></td>
                    <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content error</td>
                </tr>
                
                  
                <tr>
                 <td>Select Category:</td>
                	<td>
                    	<select th:field="*{category}">
                         <option value=""> -- </option>
                         <option th:each="cat : ${categories}"
                            th:value="${cat.id}"
                            th:utext="${cat.name}"> </option>
                 		 </select>
 					 </td>
                <td th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category Error</td>                           
                </tr>
                
                <tr>
                    <td>
                    	<button class= "btn btn-submit" type="submit">Submit</button> 
                    	<button class = "btn btn-submit" type="reset">Reset</button>
                    </td>
                </tr>
                
                <tr>
                 <td> <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a> </td>
                </tr>
            </table>
        
 <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 </div>
</body>
</html>